header {
    background-color: #244751;
    color: #E8FDFF;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: whitesmoke;
    font-family: 'Righteous', cursive;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}